<h1>Kärsivällisyys</h1>

<p>Tuli tulevan lapsenkasvatuskumppanini kanssa puheeksi se mitä on kärsivällisyys. Jokaisella on kärsivällisyydestä jonkinlainen intuitiivinen käsitys, mutta ainakaan puolisoni suusta en saanut kaivetuksi mitään koherenttia määritelmää.</p>

<p>Minulle tuli mieleen kaksi erillistä tilannetta, joissa ihmisen voisi katsoa käyttäytyvän kärsivällisesti, mutta joissa käytöksen syyt ovat melko erilaiset. Toinen näistä on tietynlaista kivunsietoa ja toinen on ymmärrys siitä, ettei vallitsevalle tilanteelle ole tehtävissä oikein mitään. </p>

<p>Otetaan esimerkikkitilanne: Olet lähdössä ystäväsi kanssa juna-asemalle, mutta ystäväsi on hidas lähtemään ja hänellä on kaikki asiat hukassa. Mielesi valtaa huoli myöhästymisestä ja kärsimättömyys ystävääsi kohtaan. Oletetaan että käyttäydyt ulospäin rauhallisesti.</p>

<ol>
<li><p>Sinua vituttaa kun ystäväsi on niin hidas, mutta et halua loukata, tai et muuten koe soveliaaksi näyttää tunteitasi. Ehkä paikalla on esimerkiksi joku kolmas henkilö jonka nähden et halua suuttua. Siispä puret hammasta ja yrität pysytellä rauhallisena.</p></li>
<li><p>Ymmärrät ettet voi nopeuttaa asioita mitenkään, joten istahdat alas ja alat lukemaan kirjaa. Tai selvität voitko jotenkin nopeuttaa lähtöä esimerkiksi auttamalla ystävääsi tms.</p></li>
</ol>

<p>Ensimmäinen esimerkki osoittaa oivaa kivunsietoa ja yhteiskunnallisten normien hallintaa, toinen taas omien tunteittensa ja tilanteen ymmärtäistä.</p>

<h2>Vuodatus terminologiasta</h2>

<p>Kumppanini sanoi ettei edellä mainittu ensimmäinen esimerkki ole <em>oikeaa</em> kärsivällisyyttä, vaikka jossakin tilanteessa se saattaa erehtymättömästikin siltä näyttää. Tämä määritelmä on huono siinä mielessä, että jotta voisimme kutsua jonkin henkilön <em>toimintaa</em> kärsivälliseksi, meidän olisi tiedettävä mitä kyseisen henkilön päässä liikkuu. Jotain mitä harvemmin on mahdollista tietää kovin varmasti. Tietysti toisinaan ''feikattu'' kärsivällisyys näkyy läpi, mutta autenttisen näköisestä kärsivällisyydestä ei silti voisi ikinä varsinaisesti <em>tietää</em> että se on oikesti autenttista.</p>

<p>Sitäpaitsi yllä mainitun määritelmän mukaan käytöksissä olevan eron voisi typistää edelleen vaikkapa järkeväksi ja epäjärkeväksi käytökseksi, joten koko ''kärsivällisys''-sana muuttuu vähän turhaksi.</p>

<p>Määritelmä menettää merkityksensä, jos on hyvin vaikea selvittää täyttääkö jokin tilanne määritelmän kriteerit vai ei. Esimerkiksi ylläolevasta märitelmästä on hyvin vaikea sanoa onko jokin käytös varmasti kärsivällistä vai ei.</p>

<p>Samalla tavoin määritelmä on kehno, jos sen ehdot täyttyvät melkein jokaisessa tilanteessa. Ääriesimerkkinä vaikka lausahdus ''kaikki on energiaa''. Tämä ei kerro energiasta yhtään mitään relevanttia, eikä myöskään kaikesta.</p>
