<h1>Palaute kirjastoesityksistä, Luentoja ystävyydestä</h1>

<p>Siirtymiä voisi hioa, myös suuntia.</p>

<ul>
<li>Alussa Saran saapuminen: Sara menee sermin taakse musiikin alkaessa tai myöhemmin (viimeistään kun näet että Anskua kutsutaan, ei haittaa vaikka yleisö näkee); Ilkka avaa esteen; Ilkka katsoo Saraa; Ilkka siirtyy sivuun; Sara astuu esteen yli, pysähtyy; Ilkka alka ohjailla Saraa</li>
<li>Kävelytanssissa on se yksi kohta Ilkan ekan vitosen jälkeen kun Sara ja Ansku menevät ensin molemmat taakse ja sen jälkeen Ansku astuu sivuun ja Sara kävelee Anskun ohi. Sara oot tehnyt sen niin et otat kuusi 1/3-askelta, ni voisitko ottaakin kolme 1/3 ja yhen perusaskeleen? Jos tuntuu et meet sekasin ni unohda tämä.</li>
<li>Kävelytanssin jälkeen suunnat, Sara ja Ansku vaihtelevat kävelyrytmiä, jäävät kiinni kävelytanssiin; suhinan noustessa vaipuvat maahan <em>vähän hitaammin kuin viime läpärissä</em>; suhinan laskiessa nousevat ylös; Sara ylös; Sara aloittaa kädet rummuilla toisella lyönnillä, eli alkuun yksi lyönti tyhjää (lyönti on sen pituinen että kädet menevät ylös ja alas kasilla)</li>
<li>Konsta kirjailijavieras hitaammin, ehkä ei juontoa; Konstan aikana Ansku ja Sara leikkivät takana</li>
<li>Jonkan pudotuksiin vähän lisää aikaa</li>
</ul>

<h2>Perusliikkumiset</h2>

<ul>
<li>Ilkka katselee ympärilleen, seurailee että kaikki pelittää</li>
<li>Ansku kävelee neutraalisti</li>
<li>Sara tekee polvennostokävelyjä</li>
</ul>

<h3>Saran kävelyehdotukset:</h3>

<ul>
<li>Sara pysähtyy joka askeleella</li>
<li>Sara tekee piruetin aina pysähtyessään</li>
</ul>

<h3>Juttuja</h3>

<p>Onko epämukavia kohtia? Kohtia, joissa ei ihan tiedä mitä tekee tai miksi? Niihin pitää keksiä jotain</p>

<h1>Musajutut</h1>

<ul>
<li>Kävelytanssiin vitoset kohilleen</li>
<li>Saran haku</li>
<li>rummuton odotus rummuista piste pois <em>.quant</em></li>
<li>Näyttöpiuhan ruuvaus</li>
<li>Saran F5 kursori oikeaan kohtaan valmiiksi, mut Sara tarkista myös ite että se on oikeassa kohdassa</li>
</ul>

<h1>Konsta</h1>

<p>Ilkka avaa osen Saralle ja Anskulle, ei käske heitä pois. Ansku ja Sara menevät jotenkin oma-aloitteisesti koppiin, tai ehkä Ilkka menee sinne edeltä ja menee pois tms. Tai ehkä kaikki menevät ensin koppiin ja sitten Konsta vaan ilmaantuu jostain. Tai ehkä Konsta tulee kopista? Pitää miettiä.</p>
<p>Tuleeko Konstalle joku esittely vai ei?</p>
