<h1>Luentoja Ystävyydestä, opinnäytetyösuunnitelma</h1>

<p><a href="luentoja_laparipalaute.html">Läpäripalaute 23.3.2017</a></p>
<p><a href="luentoja_palaute_18042017.html">Läpäripalaute 18.4.2017</a></p>

<p><strong>Esiintyjät:</strong> Anna-Mari Kuittinen, Sara Nurminen, Ilkka Virkkunen
<strong>Musiikki:</strong> Ilkka ja SuperCollider</p>

<p><strong>Idea:</strong> Teknisesti opinnäytetyöni sisältää kävelyä, tanssia, jongleerausta, puhetta ja musiikkia. Esitykset ovat Turun kaupunginkirjastossa huhtikuun lopulla (2017), sekä Köysiteatterissa opinnäytetyöfestivaaleilla.</p>

<p>Jokaisessa esityksessä kirjastolla on yksi vaihtuva vieraileva esiintyjä. Lisäksi Köysiteatterin esityksiin tulee jotain lisäjuttuja, esim Anskun laatikko.</p>

<p><strong>Vierailijat:</strong> Walter Sallinen, Konsta Kurki, Ilkka Virkkunen (???)</p>

<hr />

<h2>Kohtaukset</h2>

<p>(Kohtausten järjestys ei ole vielä täysin selvä)</p>

<ol>
	<li><p><strong>Valmistelu:</strong> Ensimmäiseksi tilaan saapuu Ilkka läppärin kanssa. Läppäri asetetaan keskeiselle paikalle esitystilaan, ja se laitetaan käyttövalmiuteen. Tässä vaiheessa voisi vaikka testata että alkumusiikki pelittää niinkuin kuuluu. <br/>
	Musiikki alkaa (<em>bpilu pulseharmooni</em>). <br />
Ilkka kutsuu ensin Anskun (laittaa kävelemään tilassa) ja sitten Saran (laittaa katselemaan ympärilleen). Instrumenttien vaihtuessa A ja S jähmettyvät paikoilleen. Kun <em>Avaruuslaivaston marssi</em> alkaa, A ja S tekevät _avaruuskoreon_ (kolme liikettä synkrona), jonka jälkeen jatkavat epäsynkassa ja Ansku liikkuu Saran taakse _kävelytanssiasetelmaan_.<br/>
Musiikki: bpilu pulseharmooni, Avaruuslaivaston marssi</p></li>
<li><p><strong>Kävelytanssi</strong> <br />
Musiikki: kaikurumpu_kolmeen + viiteen laskut niille olevissa paikoissa. <br />
<strong>Muutokset:</strong> Alussa kaanonjuttu tehdään puolet hitaammin kuin alunperin oli tarkoitus. Kädet nousevat synkassa, kallistus kaanon, ojentautuminen synkassa, kädet alas kaanon. Synkassa kuluu aikaa kahden perusaskeleen verran, kaanoneissa yhden perusaskeleen verran. <br />
Alkuun 8 perusaskelta, Ilkan 3, 4 perus, Saran 3, Anskun 3, Yhdessä 3. Lisäksi lopussa kierto tehdään kolme kertaa, sitten jatkuvana. Ilkka lähtee pois ja Sara ja Ansku jäävät kiertämään kehää samoilla _kävelytanssin_ laskuilla.  <br />
<strong>Välimusiikki:</strong> Sinit: ensin pelkkä reverb-rumpu, rummun noustua tappiinsa edellinen musiikki (<em>Kaikurumpu</em>) feidaantuu pois. Suhinan noustessa A ja S lakoavat maahan; suhinan laskiessa menevät tolppaan. Ilkka tulee tekemään _Saran kävelyn_, menee laittamaan rummut päälle ja tulee ottamaan Saran alas Anskun päältä. <br />
--> <em>Rummuton odotus</em>, ensin rummut</p></li>
<li><p><strong>Saran improtanssi</strong> <br />
<strong>Musiikki:</strong> Rummuton odotus, formant_impulse, vedenalaispimputus <br />
 Ansku katselee Saraa, hetken katseltuaan alkaa tehdä _sormitanssia_ Saran takana. <br />
<em>Vedenalaispimputuksen</em> aikana A ja S tekevät hidasta improttua kässäriä. Kässäri alkaa kun rummut alkavat laskea.</p></li>
<li><p><strong>Konstan luento:</strong> Ilkka määrää Saran ja Anskun muualle leikkimään, esimerkiksi lasikoppiin tai ylätasanteelle.
<li><p><strong>Jonkkailu:</strong> <br />
<strong>Musiikki:</strong> Lannistunut laulu, lisähäröt: hitaasti nouseva sini, StandardL, wobblesini <br />
Yhteiskoreon hajoamisen jälkeen Sara käy sammutamassa nousevan sinin. <br />
Jonkka loppuu 3-count-piiriin. Sara kerää kaikki pallot Anskun selkään ja Ansku heittää ne syrjään.</p></li>
<li><p><strong>Tanssi:</strong> <br />
<strong>Musiikki:</strong> Randbass tilulilu <br />
Koreo on äärimmäisen timmi.</p></li>
<li><p><strong>Lopetus?</strong> Haaraistunta kolmiossa, tietokoneen purkaminen yhdessä, poistuminen. <br />

<h2>Musiikkien järjestys kokonaisuudessaan</h2>

<ol>
<li>Bpilu pulseharmooni?</li>
<li>Avaruuslaivaston marssi</li>
<li>Kaikurumpu kolmeen</li>
<li>Sinit</li>
<li>Rummuton odotus</li>
<li>Formant impulse</li>
<li>Vedenalaispimputus</li>
<li>Lannistunut laulu</li>
<li>Randbass tilulilu</li>
<li>StandardN outro</li>
</ol>

<h3>Käyttämättömät musiikit:</h3>

<ul>
<li>Valikemusa</li>
<li>Pulse<em>bass</em>kayttis</li>
<li>bpilu<em>pulseharmooni</em>kayt</li>
<li>8-bit_lopparimusa</li>
</ul>

<p>Näitä voisi käyttää Saran improtanssin ja sen koko ajankohdan elävöittämiseen.</p>

<h2>Keskeneräisyydet:</h2>

<ul>
<li>Läpäreitä pitäisi tehdä, että saadaan siirtymät kuntoon.</li>
<li>Jonkka kaipaa treeniä</li>
<li>Alkukävelyt ja oleskelu, neutraalius. Miten esiintyjät voivat olla rennosti lavalla tekemättä mitään. Kävely- ja läsnäoloharjoituksia? Tai jotain vastaavaa. Tekeminen sinänsä ei ole kovin tärkeätä. Tärkeätä on olla aidosti oma itsensä ja näyttää avoimesti ulospäin kaikki tunnetilat, myös <em>negatiiviset tunteet</em> kuten epävarmuus, häpeä, lukkiutuneisuus jne. </li>
<li>Sara on katselija tai turisti tms.</li>
</ul>
