<h1>Luentoja ystävyydestä -läpärin palaute</h1>

<p>23.3.2017</p>

<h2>Alku</h2>

<p>Neutraalit kävelyt ei oikein toimi. Ansku näyttää tosi hyvältä, mutta Sara voisi tehdä jotain muuta, ehkä <strong>seisoa vaan paikoillaan ja katsella yleisöä ja ympärilleen.</strong> Voi katsoa myös Anskua. Ehdotus on siis tämä: <br />
<strong>Sisääntulo:</strong> </p>

<ul>
<li>Ansku tekee neutraalia kävelyä</li>
<li>Sara seisoo paikoilaan ja katselee ympärilleen</li>
<li>Ilkka saapuu tilaan läppärin kanssa ja laittaa sen valmiiksi; laittaa musaa  </li>
</ul>

<p><strong>Instrumenttivaihdoksesta:</strong> (eli siitä kohtaa missä aloitte tekemään siitä suoralinjaisia askelkyykkyjä) Ansku ja Sara ensin pysähtyvät ja katsovat Ilkkaan. <br />
<strong>Melodiavaihdoksesta:</strong> alkaa askelkyykyt, mutta tähän lisätään vielä muitakin liikkeitä tyylilajista <em>mahtipontinen voimistelija tekee tosi simppeleitä juttuja</em>, eli siis pitkiä suoria linjoja ja isoja liikkeitä, pitkiä raajoja yms. Näillä Sara ja Ansku liikkuvat <em>kävelytanssin</em> aloituspaikoille. <br />
Jos on aikaa niin tässä Sara ja Ansku voisivat tehdä synkrossa niitä askelkyykkyjä pitkillä käsillä, joita teitte läpärissä. Ne näyttää hyvältä. Kun Ilkka saapuu niin jäädään paikoilleen seisomaan ja odotetaan koreon alkua.</p>

<h2>Kävelytanssi</h2>

<ul>
<li>Alussa rytmi on tosi tärkeä, jalka osuu maahan aina ykkösellä.</li>
<li>Sara lantio pitää liikkua tasaisesti eteenpäin, ei saa nykiä. Myös oot ehkä vähän lantio edessä (ajattele painoa enemmän kantapäille); <em>määrätietoisuutta</em> liikkumiseen, koita saada koreo  päähäs niin auttanee.</li>
<li>Sara nyt sulla on ennen enskaa kotiläksynä kävellä joka päivä kymmenen askelta neutraalia kävelyä sillai et lantio liikkuu tasaista vauhtia eteenpäin</li>
<li>Ilkka rentouta leuka ja niska ja hartiat!</li>
<li>Ansku on huikee, paras kävelijä meistä, HYVÄ ANSKU!! Mut sä aina välillä teet oikeella kädelläs sillai et ojennat sormia.</li>
<li>Tekis mieli laittaa ihan loppuun lisää normiaskeleita väleihin, koska se on vähän liian nopea, mutta kun ei oo aikaa, ähh!</li>
</ul>

<p><strong>Ehdotus:</strong> Lisätään jokaisen <em>Ilkka ja Ansku liikkuu yhtäaikaa</em> -setin jälkeen kaksi normiaskelta, eli siis kun lopussa tulee peräkkäin kahta eri kuviota, niin niistä toisen jälkeen tulee aina kaksi normiaskelta. Jos jollain menee vituiksi niin se on merkkinä muille että muodostelma hajoaa ja mennään päämäärättömään kävelyyn ja 2-laskuun. Eli sekoillessa voi vaan lähteä pois jonosta.</p>

<h2>Saran improtanssi</h2>

<p>Harteille meno näyttää hyvältä, Sara voit olla vaan ihan liikkumatta siellä ylhäällä, katse eteenpäin samaan pisteeseen kunnes Ilkka tulee. Ja mahdollisimman liikkumatta: paras olis jos kädet vois ihan rennosti roikkua sivuilla täysin liikkumatta. Myös, voidaanko ottaa yks askel lisää?</p>

<p>Sara oli hienot noi kädet mitä teit Asnkun harteilla just ennen ku tulin alas, voitko tehdä sen käsisarjan loppuun ennen ku tuut alas? Myös, kun Ilkka laskee Saran alas maahan, niin älä Sara kato alas vaan eteenpäin. Mut tosi hyvää settii toi koko impro-osio ite asiassa! :) uujee Tosi hyvää rauhaa, tykkään! Jos tulee hetkiä ettet tiiä mitä tekisit ni voit vaa pysähtyä paikalleski. Mut juu, toi ajatus ton videon tanssissa on tosi hyvä, pidä se. </p>

<p>Mulle tuli semmonen olo että toi musa vois nousta vähän hitaamminkin, tota tanssia jaksais nimittäin kattoa pidempään. </p>

<p><em>Siirtymä kässäriin</em> vois tulla myöhemmin, eli Sara voit ihan kaikessa rauhassa himmailla improiluas ja Ansku voi rauhassa tulla sivusta siihen Saran lähettyville. Siinä voisitte olla hetken ihan paikoillaan ja alottaa kässärin vasta sitten kun sen <em>vedenalaispimputuksen</em> päälle ei enää kuulu rumpuja ollenkaan.</p>

<h2>Jonkka</h2>

<p>Ilkan olemiseen tarvii jotain ajatusta lisää. Ilkka näyttää ihan hölmöltä kun se tulee vaan tollai tyhmästi löntystäen tohon jonkkaan kässärin jälkeen. Ehkä Ilkka vois liikkua koko ajan tosi <em>hitaasti</em>. Myös Ilkka vois olla tiputtelematta palloja niin paljon neljän pallon heittelyssä</p>

<p>Myös tykkään siitä että Ilkka ja Ansku heittelee vastakkain kolmea palloa tosi kauan, joten Sara vaiha musiikki vasta siinä vaiheessa kun <strong>Ansku on varastanut Ilkalta kolme palloa</strong> ja sitten oottelet jonkun aikaa ennen kuin tulet paikoillesi. </p>

<p>Ansku hienot noi heiluvat kädet kun Sara lastaa palloja sun selkään!</p>

<h2>Tanssi</h2>

<p>Tehdään niin että Ansku pysyy palloaluksena pitempään ja Sara menee samaan asentoon heti kun on saanut pallot lastattua. Ilkka menee myös samaan asentoon omalle paikalleen heti kun on laittanut musiikin päälle. <strong>Pimputuksen alussaa</strong> (ensin on pelkät bassot) kaikki nousevat ylös yhtäaikaa ja odottavat seisten koreon alkua.</p>

<p><strong>Myös:</strong> Ansku heiluttelee tollai pikkuisen käsiään kun Sara lastaa palloja. Kun viimeinen pallo on lastattu Ansku lopettaa heiluttamisen ja Sar aaloittaa sen heti kun on päässyt paikoilleen. Sara lopettaa käsien heiluttamisen kun Ilkka on liittynyt asetelmaan.</p>

<h2>Jeajea, hyvää työtä tiimi!</h2>

<p>Näyttää muuten oikein hyvältä. Tykkään tästä rauhallisuudesta joka tässä on jo nytkin, ja sitä tulee näiden <em>pikkumuutosten</em> myötä vielä lisää. Tää esitys on sellanen tulva-aalto, joka liikkuu näennäisen hitaasti, mutta vääjäämättä.</p>
